.popup {
    width: 500px;
    background-color: #f8f8f8;
    border-radius: 5px 5px 0 0;
    border: 1px solid #c2c2c2;
    padding: 16px 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.header > h3 {
    font-size: 18px;
    font-weight: 500;
}

.close {
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
}

.field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.field_input {
    width: 300px;
    border: none;
    border-bottom: 1px solid #c2c2c2;
    background-color: #f8f8f8;
    outline: none;
}

.control_block {
    margin-top: 16px;
}

.confirm_button {
    border: none;
    border-bottom: 1px solid #3c9b3c;
    cursor: pointer;
    padding: 8px 16px 8px 16px;
}

.confirm_button:hover {
    background-color: #3c9b3c;
}
