.navigation {
    height: 100%;
    max-width: 420px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
    border-right: #e3e3e3 solid 1px;
}

.wrapper {
    padding-right: 8px;
    padding-left: 8px;
    /*padding-top: 8px;*/
    display: flex;
    flex-direction: column;
    height: 100%;
}

.searchBlock {
    padding: 14px 24px 14px 16px;
    border-bottom: #e3e3e3 solid 1px;
}

.searchTitle {
    font-size: 24px;
    margin-bottom: 16px;
    /*font-weight: 500;*/
}

.items {
    overflow-y: scroll;
}

.searchInput {
    height: 28px;
    font-size: 18px;
    padding: 0 12px;
    border: #e3e3e3 solid 1px;
    outline: none;
}
