.wrap {
    display: flex;
    height: 144px;
    align-items: flex-start;
}

.space {
    width: 140px;
}

.label {
    display: flex;
    transform: rotate(90deg);
    width: 40px;
    /*height: 180px;*/
    border-top: black solid 1px;

}
