.button{
    outline: none;
    border: none;
    padding: 8px;
    font-size: medium;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover{
    background-color: #6f7cd6;
}

.red{
    border-bottom: #3c9b3c solid 1px;
}