.dataContainer {
    width: 50%;
    overflow-y: scroll;
}

.dataContainer:nth-child(1) {
    border-right: #c2c2c2 solid 1px;
}

.dataContainer:nth-child(2) {
    div {
        padding-left: 8px;
    }
}

.title {
    padding-bottom: 8px;
    font-size: 18px;
    border-bottom: #c2c2c2 solid 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;
}

.elements {
    display: flex;
    flex-direction: column;
}
