.nav_main {
    width: 25px;
    background: #f5f5f5;
    border-right: #e3e3e3 solid 1px;
    height: 100%;
    max-width: 420px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}

.nav_items {
    overflow: scroll;
    overflow-x: hidden;
}
