.main_container{
    width: 100%;
    margin: 14px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: scroll;
    overflow-x: hidden;
}
.container{
    margin: 14px 8px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container__title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 16px;
}

.container__row{
    margin: 8px 0;
    font-size: 20px;
}

.container__buttons{
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
    margin-bottom: 24px;
}

.user_sys_info{
    display: flex;
    column-gap: 24px;
    color: darkgray;
}