.header {
    display: flex;
    flex-direction: row;
    height: 48px;
    width: 100%;
    background-color: var(--sys-neutral-background);
    padding: 10px;
    border-bottom: var(--sys-panel-stroke) 1px solid;
}

.header_logo_link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo {
    width: 22px;
    height: auto;
}

.header_left {
    display: flex;
    align-items: center;
    gap: 24px
}

.header_menu_button {
    cursor: pointer;
}

.header_menu_button:hover {
    fill: #3c9b3c;
}

.button_wrapper {
    display: flex;
    align-items: center;
    width: 24px;
    height: 100%
}

.header_right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 36px;
    padding: 0 10px;
}

.fc {
    display: flex;
    align-items: center;
}

.header_right_user_settings {
    gap: 24px;
}

.absoluteUserInfo {
    position: absolute;
    color: #e3e3e3;
    bottom: 0;
    right: 0;
    margin-bottom: 8px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
