.departments {
}

.departments_title_container {
    background: #e3e3e3;
    border-bottom: 1px solid #c2c2c2;
    padding: 14px 24px 14px 14px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.departments_list {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 8px;
}

.departments_title {
    font-size: 20px;
}
