.departmentElement {
    font-size: 16px;
    padding: 8px 8px;
}

.link {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

.link:nth-child(odd) {
    background: #f0f4fd;
}

.link:hover {
    background-color: #6f7cd6;
}
